@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

#App {
  background: url('./moon_bg_R.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}

#header {
  padding: 80px 260px 0px 260px;
}

#texts {
  float: left;
}

#clock {
  float: right;
  margin-top: -100px;
}

.title-text {
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: -26px;
}

.one-line-text {
  font-weight: 900;
  font-size: 1.5rem;
}

.clock-text {
  font-weight: bolder;
  font-size: 5.5rem;
}